---
---

<!DOCTYPE html>

<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <title>CS 164, Spring 2025</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="{{site.base_url}}/main.css" />
</head>

<body>
    <header>
        <h1><a href="{{ site.baseurl }}">Programming Languages and Compilers</a></h1>
        <p>CS 164 @ UC Berkeley, Spring 2025</p>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/syllabus.html">Syllabus</a></li>
            <li><a href="/schedule.html">Schedule</a></li>
            <li><a href="/calendar.html">Calendar</a></li>
            <li><a href="/staff.html">Staff</a></li>
            <li><a href="/software.html">Software</a></li>
            <li><a href="/faq.html">FAQ</a></li>
            <li> <a href="https://edstem.org/us/courses/74529">Ed</a> </li>
            <li> <a href="https://www.gradescope.com/courses/959313">Gradescope</a> </li>
        </ul>
    </nav>
    <main>
        {{ content }}
    </main>
</body>

</html>